$color_black: #000;
$color_white: #ffffff;
$color_blue_main: #38b7df;
$color_black_main: #2c2c2c;
$color_yellow_main: #f7c938;

$bg_white: #ffffff;
$bg_blue_main: #38b7df;
$bg_black_main: #2c2c2c;
$bg_yellow_main: #f7c938;
